
@{
    ViewData["Title"] = "SanPhamTheoLoai";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}

@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<TDanhMucSp>

<div class="row featured__filter" id="MixItUp41340F">
    @foreach (var item in Model)
    {
        <partial name="PartialSanPham" model="item" />
    }
</div>
@*<div class="product__pagination">
        @Html.PagedListPager(Model, page=>Url.Action("Index", new{page=page}))
    </div>*@

@Html.PagedListPager(Model, page => Url.Action("SanPhamTheoLoai", new {page=page, maloai=ViewBag.maloai}),
    new PagedListRenderOptions {
        ContainerDivClasses = new [] { "d-flex justify-content-center" },
		UlElementClasses = new[] { "pagination" },
        LiElementClasses = new string[] { "page-item " },
        PageClasses = new string[] { "page-link" }
})

